# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

mkdir build
# Creates a directory for your project called "Hello-World" in your user directory

mkdir src
